body{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

header{
    background-color: red;
    height: 50px;
}
#container-header{
    display: flex;
    flex-wrap: wrap-reverse;
    min-height: 400px;
    
    
}
.header{
    background-color: lightskyblue;
    flex-basis: 50%;
    order: 2;
    height: 400px;
}

.aside-left{
    background-color: green;
    flex-basis: 25%;
    order: 1;
    height: 400px;
}

.aside-right{
    background-color: lightcoral;
    flex-basis: 25%;
    order: 3;
    height: 400px;
}
#container-header .container-item{
    height: 400px;
}

footer{
    background-color: violet;
    height: 50px;

}
p{
    margin: 0;
}

@media (max-width: 992px){
    .aside-left{
        flex-basis: 100%;  
                  
    }
    .header{
        flex-basis: 75%;
    }
   
}

@media (max-width: 768px){
    .header{
        flex-basis: 100%;
        order: 3;
        
    }
    .aside-left{
        flex-basis: 100%;
        order: 2;            
    }
    .aside-right{
        flex-basis: 100%;
        order: 1;            
    }
    

}

